@import "@/style/color-variables.scss";

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

body,
html,
main {
  display: flex;
  background-color: $scendoreay;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}
